#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.players-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1em 2em;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  color: #555;
  margin: 10px 2em;
  width: 350px;
}

.position {
  font-weight: bold;
  color: #333;
  margin: 0px;
}

.name {
  font-size: 30px;
  color: #555;
  margin: 0px;
}

.player-logo {
  width: 100px;
  height: 100px;
}

.player-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 2em 0px 2em
}

.name-pos {
  display: block;
  text-align: left;
}

.player-stats {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
}

.plus-minus {
  font-size: larger;
}